<div class="bg-dark text-white vh-100 p-3 shadow" style="width: 250px; position: fixed; top: 0; left: 0;">
    <a class="d-flex align-items-center mb-4 text-white text-decoration-none" href="">
        <i class="bi bi-shield-lock text-success me-3 fs-3"></i>
        <span class="fs-4 fw-bold">IoT Scanner</span>
    </a>
    
    <hr class="text-secondary" />

    <ul class="nav nav-pills flex-column mb-auto mt-3">
        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white d-flex align-items-center" href="" Match="NavLinkMatch.All">
                <i class="bi bi-speedometer2 me-3 fs-5"></i> 
                <span>Dashboard</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-white d-flex align-items-center" href="history">
                <i class="bi bi-clock-history me-3 fs-5"></i> 
                <span>Audit History</span>
            </NavLink>
        </li>
    </ul>
</div>